html {
  /* font-family: 'Comfortaa', sans-serif; */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  font-family: 'Comfortaa', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  /* background: url('image/bg5.jpg'); */
  /* Background pattern from Subtle Patterns */
  /* font-family: 'Coda', cursive; */ 
}


h1 {
  padding-top: 20px;
  /* font-family: 'Comfortaa', sans-serif; */
  font-weight: bolder;
  color: #f55195;
  text-shadow: 3px 2px #f5b6cf;
  /* color: #f5b6cf; */
  /* color:rgb(235, 104, 154) */
}

/* .head-div{
  background-color: #d1f1f0;
  text-align: center;
  border-radius: 25px;
  width: 280px;
  height: 110px;
  border: 5px solid #f5b6cf;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  
} */

/*  Styles for the deck of cards  */

img{
  width:80px;
  height: 80px;
}

img.wel{
  width:240px;
  height: 240px;
}



.deck {
  justify-content: center;
  padding: 2%;
  align-items: center;
  min-height: 30em;
  /* background: url('image/unicorn.jpg'); */
  background: url('image/bg2.jpg');
  /* background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%); */
  border-radius: 50px;
  box-shadow: 12px 15px 20px 0 rgba(243, 198, 215, 0.5);

}


.deck .card {
  height: 100px;
  margin-right: 5%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(160deg, #ffffff 0%, #fdb2cb 100%);  */
  background: url('image/bg.jpg');
  
  /* background-size: 100px 100px; */
  /* background: #c1e4db; */
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}



.deck .card img{
  display:none;
}

.deck .card.open img{
  display: flex;
}

.deck .card.open {
  transform: rotateY(0);
   background:  #c1e4db; /*#eca1d6; */
  cursor: default;
}

/* .deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #cd77e7;
  font-size: 33px;
} */

/* Styles for the Score Panel */

.score-panel .restart {
  float: right;
  cursor: pointer;
}


.score-container {
  font-family: 'Comfortaa', cursive;
  font-size: 1.3em;
  color: rgb(70, 68, 68);
  /* color:rgb(235, 104, 154); */
}


/* welcome modal */

.welcome-modal {
  /* font-family: 'Comfortaa', cursive; */
  font-size: larger;
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}

.wel img{
  width: 200px;
  height: 200px;
}


.welcome-modal-content {
  /* background: url('image/bg3.jpg'); */
  background-color: #fefefe;
  margin: 15% auto;
  /* font-family: 'Comfortaa', cursive; */
  text-align: center;
  padding: 20px;
  border: 1px solid #888;
  width: 700px;
  height: 550px;
  color: #e9a7d0;
  font-size:large;
}

#welcome-modal-header {
  /* position: absolute;
  top: 0;
  left: 0; */
  /* height: 15%; */
  /* font-family: 'Comfortaa', cursive; */
  width: 100%;
  /* font-family: 'Bowreghul'; */
  /* padding: 10px; */
  text-align: center;
  font-size: 8vh;
  background-color: #f55195;
  color: #EDF5E7;
}

.close:hover {
  cursor: pointer;
  
}


/* .toggle{
  display: none;
} */

/* rank */
#rank {
  text-align:center;
  justify-content: center;
  padding: 1%;
  align-items: center;
  min-height: 30em;
  /* background: url('image/unicorn.jpg'); */
  background: url('image/bg.jpg');
  border-radius: 50px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);

}

.scroll thead,
 tbody tr {
     display: table;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
     table-layout: fixed;  
}
/* tbody{
  width: 100%;
} */
.scroll thread{
  border-radius: 50px;
  background-color: #fcf7fa;
  
}

th{
  color: #f55195;
  font-size: large;
  font-weight: 500;
}

tbody tr td{
  border-radius: 50px;
  height: 45px;
  color: rgb(70, 68, 68);
  font-size: medium;
  padding: 0.2rem;
  text-align: center;
} 

